<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap" rel="stylesheet">

</head>

<body>
     <div class="content">
        <div class="content-inside">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4 text-center">Dev Champ Team</h1>
                </div>    
            </div>
            
            <div class="container">
                <div class="row">
                    <div class="team-area col-12 d-flex">
                        <div class="row justify-content-center" style="width: 100%">

                        <!-- Manager Card Here! -->
                        <div class="col-xs-12 col-md-6 col-lg-4">
                                <div class="card employee-card">
                                    <div class="card-header text-center">
                                        <h2 class="card-title">Person 1</h2>
                                        <h5 class="card-title"><i class="fas fa-mug-hot mr-2"></i>Manager</h5>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="info-type">ID: </span>
                                                999
                                            </li>
                                            <li class="list-group-item"><span class="info-type">Email: </span>
                                                <a href="mailto:youremail@email.com">
                                                    youremail@email.com
                                                </a>
                                            </li>
                                            <li class="list-group-item"><span class="info-type">Office Number: </span>
                                                206-111-1234
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        
                            <!-- Engineer Card Here!-->
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <div class="card employee-card">
                                    <div class="card-header text-center">
                                        <h2 class="card-title">Person 2</h2>
                                        <h5 class="card-title"><i class="fas fa-glasses mr-2"></i>Engineer</h5>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="info-type">ID: </span>
                                                555
                                            </li>
                                            <li class="list-group-item"><span class="info-type">Email: </span>
                                                <a href="mailto:youremail@email.com">
                                                    youremail@email.com
                                                </a>
                                            </li>
                                            <li class="list-group-item"><span class="info-type">GitHub: </span>
                                                <a href="https://github.com/person1" target="_blank"
                                                    rel="noopener noreferrer">
                                                    person 1
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Intern Card Here! -->
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <div class="card employee-card">
                                    <div class="card-header text-center">
                                        <h2 class="card-title">Student 1</h2>
                                        <h5 class="card-title"><i class="fas fa-user-graduate mr-2"></i>Intern</h5>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="info-type">ID: </span>
                                                444
                                            </li>
                                            <li class="list-group-item"><span class="info-type">Email: </span>
                                                <a href="mailto:student1@intern.com">
                                                    student1@intern.com
                                                </a>
                                            </li>
                                            <li class="list-group-item"><span class="info-type">School: </span>
                                                UW
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Intern Card Here!-->
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <div class="card employee-card">
                                    <div class="card-header text-center">
                                        <h2 class="card-title">Student 2</h2>
                                        <h5 class="card-title"><i class="fas fa-user-graduate mr-2"></i>Intern</h5>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="info-type">ID: </span>
                                                777
                                            </li>
                                            <li class="list-group-item"><span class="info-type">Email: </span>
                                                <a href="mailto:student2@intern.com">
                                                    student2@intern.com
                                                </a>
                                            </li>
                                            <li class="list-group-item"><span class="info-type">School: </span>
                                                WSU
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer goes here! -->
     <footer class="page-footer font-small">
        <div class="text-center py-3 upper-footer">Generate your team profile
            <a href="https://github.com/fbabauta/Team-Profile-Generator" target="_blank" rel="noopener noreferrer"><button type="button"
                    class="btn btn-outline-primary here-btn">HERE!</button></a>
        </div>
        <div class="footer-copyright text-center py-3">© 2020:
            <a href="https://github.com/fbabauta " target="_blank" rel="noopener noreferrer">fbabauta <i class="fab fa-github" aria-hidden="true"></i></a>
        </div>
    </footer>

                
            


</body>
</html>