<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap" rel="stylesheet">

</head>

<body>
    <div class="content">
        <div class="content-inside">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4 text-center">Dev Champ Team</h1>            
                </div>
            </div>
    
            <div class="container">
                <div class="row">
                    <div class="team-area" col-12 d-flex>
                        <div class="row justify-content-center" style="width: 100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small">
        <div class="text-center py-3 upper-footer">Generate your team profile
            <a href="https://github.com/fbabauta/Team-Profile-Generator" target="_blank" rel="noopener noreferrer"><button type="button" class="btn btn-outline-primary here-btn">HERE!</button></a>
        </div>
        <div class="footer-copyright text-center py-3">© 2020:
            <a href="https://github.com/fbabauta " target="_blank" rel="noopener noreferrer">fbabauta<i class="fab fa-github" aria-hidden="true"></i></a>
        </div>
    </footer>

</body>
</html>

